@import './src/assets/styles/utils/_exports';

.ti-wrapper {
  position: relative;
  width: 100%;
}

.ti-tags {
  padding: 10px 15px 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.ti-tag {
  float: left;
  max-width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 6px 6px 0;
  background-color: palette('neutral', 'light');
  color: palette('text', 'primary');
  cursor: pointer;

  @include respond-from(md) {
    transition: background-color 150ms ease, color 150ms ease;

    &:hover {
      background-color: palette('complement');
      color: palette('primary', 'complement');
    }
  }

  &.marked-danger {
    background-color: palette('danger');
    color: palette('primary', 'complement');
  }

  &-label {}
  &-remove-icon {}

  &-control {
    padding: 0;
    
    &-input {
      background-color: transparent;
    }
  }
}

// .#{$ns}-ti-wrapper {
//   position: relative;
//   width: 100%;
//   min-height: 70px;
//   padding: 27px 15px 6px 15px;
//   border: 1px solid palette('neutral');
//   border-radius: 5px;
//   transition: background-color 150ms ease-in-out;

//   &.invalid {

//     .#{$ns}-ti-label,
//     .#{$ns}-ti-tag-adding-input {
//       color: palette('danger');
//     }
//   }

//   &.disabled {
//     overflow: hidden;
    
//     &:before {
//       @include pos(-1px, 0);
//       content: '';
//       display: block;
//       width: 100%;
//       min-height: inherit;
//       border-radius: 5px;
//       background-color: rgba(0, 0, 0, 0.1);
//     }
//   }

//   &.focused {
//     background-color: whitesmoke;
//   }

//   &.#{$ns}-ti-theme-primary,
//   &.#{$ns}-ti-theme-success,
//   &.#{$ns}-ti-theme-info,
//   &.#{$ns}-ti-theme-warning,
//   &.#{$ns}-ti-theme-danger,
//   &.#{$ns}-ti-theme-success {

//     .#{$ns}-ti-tag {
//       color: white;

//       &.marked-for-deletion {
//         background-color: palette('danger');
//       }
//     }
//   }

//   &.#{$ns}-ti-theme-primary {

//     .#{$ns}-ti-tag {
//       background-color: palette('primary');
//     }
//   }

//   &.#{$ns}-ti-theme-success {

//     .#{$ns}-ti-tag {
//       background-color: palette('success');
//     }
//   }

//   &.#{$ns}-ti-theme-info {

//     .#{$ns}-ti-tag {
//       background-color: palette('info');
//     }
//   }

//   &.#{$ns}-ti-theme-warning {

//     .#{$ns}-ti-tag {
//       background-color: palette('warning');
//     }
//   }

//   &.#{$ns}-ti-theme-danger {

//     .#{$ns}-ti-tag {
//       background-color: palette('danger');

//       &.marked-for-deletion {
//         background-color: darken(palette('danger'), 20%);
//       }

//       .#{$ns}-ti-tag-remove-icon {

//         &:hover {
//           color: black;
//         }
//       }
//     }
//   }

//   &.#{$ns}-ti-theme-neutral {

//     .#{$ns}-ti-tag {
//       background-color: palette('neutral');
//       color: black;
//     }
//   }
// }

// .#{$ns}-ti-tag-list {
//   margin: 0;
//   padding: 0;
//   list-style: none;

//   &:after {
//     display: block;
//     content: '';
//     clear: both;
//   }
// }

// .#{$ns}-ti-tag {
//   float: left;
//   max-width: 100%;
//   height: 25px;
//   line-height: 25px;
//   margin-right: 5px;
//   margin-bottom: 5px;
//   padding: 0 10px 0 8px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   transition: background-color 150ms ease-in-out;
//   cursor: pointer;

//   &.marked-for-deletion {

//     .#{$ns}-ti-tag-remove-icon {

//       &:hover {
//         color: black;
//       }
//     }
//   }
// }

// .#{$ns}-ti-tag-label {
//   display: inline-block; // This is important because without it, the cursor of the contenteditable won't blink or disappear properly after the last letter

//   &:focus {
//     outline: 0;
//     cursor: default;
//   }
// }

// .#{$ns}-ti-tag-remove-icon {
//   transition: color 150ms ease-in-out;
//   cursor: pointer;

//   &:hover {
//     color: palette('danger');
//   }
// }

// .#{$ns}-ti-tag-adding {
//   float: left;
//   height: 25px;
//   line-height: 25px;
// }

// .#{$ns}-ti-tag-adding-input {
//   border: 0;
//   background-color: transparent;

//   &:focus {
//     outline: 0;
//   }
// }

// .#{$ns}-ti-label {
//   position: absolute;
//   top: 11px;
//   left: 15px;
//   text-transform: uppercase;
// }