@import './src/assets/styles/utils/_exports';

.ti-wrapper {
  position: relative;
  width: 100%;
}

.ti-tags {
  padding: 10px 15px 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.ti-tag {
  float: left;
  max-width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 6px 6px 0;
  background-color: palette('neutral', 'light');
  color: palette('text', 'primary');
  cursor: pointer;

  @include respond-from(md) {
    transition: background-color 150ms ease, color 150ms ease;

    &:hover {
      background-color: palette('complement');
      color: palette('primary', 'complement');
    }
  }

  &.marked-danger {
    background-color: palette('danger');
    color: palette('primary', 'complement');
  }

  &-label {}
  &-remove-icon {}

  &-control {
    padding: 0;
    
    &-input {
      background-color: transparent;
    }
  }
}
